body, html{
    height: 100%;
    margin: 0;
}

.header{
    height: 60px;
    background-color: rgb(85, 122, 163);
    padding: 20px;
    font-size: 3em;
}

.main-container{
    display: flex;
    width: 100%;
    height: calc(100vh - 100px);
}

.sidebar{
    width: 200px;
    max-width: 30vw;
    background-color: rgb(121, 174, 207);
}

.sidebar-cat{
    padding: 10px;
}

#projects-container{
    background-color: rgb(162, 214, 247);
    margin: 0 2em;
    padding: 0.1em 1em;
    font-size: 0.8em;
}

.taskbar-project{
    margin: 0;
    padding: 0.5em;
}

#main{
    background-color: rgb(200, 234, 255);
    flex-grow: 1;
    padding: 30px;
}

#add-button{
    position:absolute;
    width: 1.5em;
    height: 1.5em;
    bottom: 5%;
    right: 5%;
    border-width: 0;
    border-radius: 50%;
    box-shadow: 0.2em 0.2em rgba(71, 71, 71, 0.2);
    font-size: 2em;
}

.card-container{
    background-color: rgb(220, 242, 255);
    padding: 10px;
    margin: 15px;    
}

/* .card-container:hover {
    height: 5em;
} */

.card-top-container {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.card-bot-container {
    padding: 10px;
}

.card-left, .card-right, .card-project{
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-left: 10px;
    flex-grow:1;
}

.card-project{
    justify-content: center;
}

.card-right{
    justify-content: end;

}

.checkbox{
    height: 1.5em;
}

.card-name, .card-date{
    margin: 0;
    text-align: center;
    display: flex;
    align-items: center;

}

.card-remove{
    height: 1.5em;
    width: 2.5em;
    text-align: center;
    vertical-align: middle;
    font-size: 1em;
    padding: 0;
}

#add-window{
    position: absolute;
    top: 30%;
    right: 20%;
    width: 40vw;
    height: 22em;
    background-color: rgb(240, 240, 240);
    display: flex;
    flex-direction: column;
    padding: 30px;
    padding-top: 5px;
    gap: 0.5em;
    box-shadow: 0.5em 0.5em rgba(71, 71, 71, 0.2);
}

.add-top-bar{
    text-align: right;
    padding: 0;
    height: 1.5em;
}

.add-close-button{
    position: absolute;
    right: 5px;
    top: 5px;
    width: 2em;
    height: 2em;
}

#add-confirm-button{
    position: absolute;
    right: 30px;
    bottom: 30px;
    width: 4em;
    font-size: 1em;
}


.add-description{
    height: 5em;
    resize: none;
}

.add-date{
    width: 10em;
}

